* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.nav-link {
    margin-left: 1rem;
    font-size: 1.25rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    height: 60vh;
    background-color: cadetblue;

}

.heading-title {
    font-size: 4rem;
    flex-wrap: wrap;
}


.paragraph {
    font-size: 3rem;
    padding-top: 4rem;
    text-align: center;

}

.content {
    text-align: center;

}

.left {
    text-align: center;
    margin: auto;
}

.btn {
    padding: 2rem;
    border-radius: .5rem;
    margin-top: 4rem;
    border: none;
    cursor: pointer;

}

.users-heading {
    text-align: center;
    padding-top: 3rem;
    font-size: 4rem;

}







@media screen and (max-width: 1380px) {
    .hero {
        display: block;
        /* padding-top: 10px; */
    }
    .paragraph{
        padding-top: 1rem;
    }
    .heading-title {
        font-size: 3rem;
    }
    .btn {
        margin-top: 2REM;
    }
}

@media screen and (max-width: 760px){
    .hero {
        display: block;
        padding-top: 50px;
    }
    .paragraph{
        padding-top: 1rem;
        font-size: 24px;
    }
    .heading-title {
        font-size: 28px;
    }
    .btn {
        margin-top: 20px;

    }
}